<div class="container-fluid">
  <footer class="text-dark">
    <div class="container">
      <div class="row text-justified">
        <div class="col-md-4">
          <h2>Services</h2>
          <p>
            Articles &amp; Blog Post Writing <br />Logo Design <br />Whiteboard
            &amp; Animated Explainers Creation <br />Off-Page SEO Services
            <br />Social Media Management <br />Articles &amp; Blog Post
          </p>
        </div>

        <div class="col-md-4">
          <h2>Contact info</h2>
          <p>(888)-888-8888<br />email@mydreams.com</p>
          <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="col-md-4">
          <h2>Contact info</h2>
          <p>(888)-888-8888<br />email@mydreams.com</p>
          <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <hr class="socket" />
      <p class="text-center">&copy; 2019. DigitalKnights.</p>
    </div>
  </footer>
</div>